*{
    font-family: 'Merriweather', serif;
}

:root{
    --main-green: #2eb758;
    --main-dark: #111111;
    --main-grey: #303030;
}


/* NAVBAR */

navbar {
    transition: 0.5;
}

.bg-button{
    background-color: var(--main-green);
}

.margin-header{
    margin-top: 200px;
}


/* Header */
.button-size-shop{
    width: 220px ;
    padding: 15px 40px;
    color:white;
}


/* main */


.bg-main-black {
    background-color: var(--main-dark);
    height: 210px;
}


.bg-main-grey {
    background-color: var(--main-grey);
    width: 250px;
    color: white;
    border-radius: 5%;
}







